Etape 1: Creation du DataSet

In [1]:
import pandas 
import numpy as np
import matplotlib.pyplot as plt


df_3features=pandas.read_csv("./datasets/Stress_temperature_step_humidity.csv", sep =',')
df_health=pandas.read_csv("./datasets/Sleep_health.csv", sep =',')
df_sleep=pandas.read_csv("./datasets/sayopillow/SaYoPillow.csv", sep =',')

df_health.drop(["Occupation","Blood Pressure"], axis = 1, inplace=True)

In [11]:
df_health.drop( labels="Person ID", axis = 1)

,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,6.1,6,42,6,Overweight,77,4200,NaN
1,Male,28,6.2,6,60,8,Normal,75,10000,NaN
2,Male,28,6.2,6,60,8,Normal,75,10000,NaN
3,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea
4,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...
369,Female,59,8.1,9,75,3,Overweight,68,7000,Sleep Apnea
370,Female,59,8.0,9,75,3,Overweight,68,7000,Sleep Apnea
371,Female,59,8.1,9,75,3,Overweight,68,7000,Sleep Apnea
372,Female,59,8.1,9,75,3,Overweight,68,7000,Sleep Apnea
373,Female,59,8.1,9,75,3,Overweight,68,7000,Sleep Apnea

In [12]:
df_health.info()
#11 features 
print(df_health["Sleep Disorder"].unique())
print(df_health["Sleep Duration"].unique())
print(df_health["Quality of Sleep"].unique())
print(df_health["Stress Level"].unique())
print(df_health["Physical Activity Level"].unique())
print(df_health["BMI Category"].unique())
print(df_health["Heart Rate"].unique())
print(df_health["Daily Steps"].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Heart Rate               374 non-null    int64
 9   Daily Steps              374 non-null    int64
 10  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 32.3+ KB
[nan 'Sleep Apnea' 'Insomnia']
[6.1 6.2 5.9 6.3 7.8 6.  6.5 7.6 7.7 7.9 6.4 7.5 7.2 5.8 6.7 7.3 7.4 7.1
 6.6 6.9 8.  6.8 8.1 8.3 8.5 8.4 8.2]
[6 4 7 5 8 9]
[6 8 7 4 3 5]
[42 60 30 40 75 35 45 50 32 70 80 55 90 47 65 85]
['Overweight' 'Normal' 'Obese' 'Normal Weight']
[77 75 85 82 70 80 78 69 72 68 76 81 65 84 74 67 73 83 86]
[ 4200 10000  3000  3500  8000  4000  4100  6800  5000  7000  5500  5200
  5600  3300  4800  7500  7300  6200  6000  3700]

### DESCRIPTION DES FEATURES ###  
Gender : Male or Female (**Initial Data from individual**)  
Age : Age of the induvidual (**Initial Data from individual**)  
Sleep Duration : in hours decimal (**Watch**)  
Quality of Sleep : Assessed on a 0-10 scale (**assessed by questionnaire**)  
Physical Activity Level : number of minutes spent exercising during the day (**watch or questionnaire**)  
BMI Category : **To be removed**  
Heart Rate : BPM nominale (**Initial Data from individual**) 
Heart mean : mean of BPM during the day (**watch**)  
Daily Steps : number of steps during the day (**watch**)  
Sleep Disorder : [Regular, Sleep Apnea, Insomnia'] (**Initial Data from individual**)   
Stress Level : Target feature (1 - not stressed, 2 - regular, 3 - stressed)

In [13]:
df_sleep.iloc[:10]

,snoring_range,respiration_rate,bd_temp,limb_movement_rate,blood_oxygen_lvl,eye_movement,hours_sleep,heart_rate,Stress_Levels
0,93.80,25.680,91.840,16.600,89.840,99.60,1.840,74.20,3
1,91.64,25.104,91.552,15.880,89.552,98.88,1.552,72.76,3
2,60.00,20.000,96.000,10.000,95.000,85.00,7.000,60.00,1
3,85.76,23.536,90.768,13.920,88.768,96.92,0.768,68.84,3
4,48.12,17.248,97.872,6.496,96.248,72.48,8.248,53.12,0
5,56.88,19.376,95.376,9.376,94.064,83.44,6.376,58.44,1
6,47.00,16.800,97.200,5.600,95.800,68.00,7.800,52.00,0
7,50.00,18.000,99.000,8.000,97.000,80.00,9.000,55.00,0
8,45.28,16.112,96.168,4.224,95.112,61.12,7.112,50.28,0
9,55.52,19.104,95.104,9.104,93.656,82.76,6.104,57.76,1

In [2]:
df_3features.tail()

      Humidity  Temperature  Step_count  Stress_Level
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

In [3]:

df_3features.describe()

          Humidity  Temperature   Step_count  Stress_Level
count  2001.000000  2001.000000  2001.000000   2001.000000
mean     20.000000    89.000000   100.141429      1.104448
std       5.777833     5.777833    58.182948      0.771094
min      10.000000    79.000000     0.000000      0.000000
25%      15.000000    84.000000    50.000000      0.000000
50%      20.000000    89.000000   101.000000      1.000000
75%      25.000000    94.000000   150.000000      2.000000
max      30.000000    99.000000   200.000000      2.000000

In [4]:
df_3features.drop(["Step_count", "Temperature"], axis = 1, inplace=True)

In [2]:
df_health.head()

,Person ID,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,6.1,6,42,6,Overweight,77,4200,NaN
1,2,Male,28,6.2,6,60,8,Normal,75,10000,NaN
2,3,Male,28,6.2,6,60,8,Normal,75,10000,NaN
3,4,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea
4,5,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea

In [6]:
valeurs_sleep_disorter = df_health['Sleep Disorder'].unique()

# Affiche les valeurs uniques
print(valeurs_sleep_disorter)

[nan 'Sleep Apnea' 'Insomnia']

In [7]:
valeurs_stress_lvl = df_health['Stress Level'].unique()

print(valeurs_stress_lvl)
df_health["Stress Level"] = df_health["Stress Level"].replace({ 3 : 0, 4 : 0, 5 : 1, 6 : 1, 7 : 2, 8 : 2})

[6 8 7 4 3 5]

In [9]:
df_health.head()

,Person ID,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,6.1,6,42,1,Overweight,77,4200,NaN
1,2,Male,28,6.2,6,60,2,Normal,75,10000,NaN
2,3,Male,28,6.2,6,60,2,Normal,75,10000,NaN
3,4,Male,28,5.9,4,30,2,Obese,85,3000,Sleep Apnea
4,5,Male,28,5.9,4,30,2,Obese,85,3000,Sleep Apnea

In [10]:
df_3features.head()

   Humidity  Stress_Level
0     21.33             1
1     21.41             1
2     27.12             2
3     27.64             2
4     10.87             0

In [11]:
#df_stress = pandas.merge(df_3features, df_health, left_on='Stress_Level', right_on='Stress Level', how='inner')

df_stress.iloc[:100]

,Humidity,Stress_Level,Person ID,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder
0,21.33,1,1,Male,27,6.1,6,42,1,Overweight,77,4200,NaN
1,21.33,1,8,Male,29,7.8,7,75,1,Normal,70,8000,NaN
2,21.33,1,9,Male,29,7.8,7,75,1,Normal,70,8000,NaN
3,21.33,1,10,Male,29,7.8,7,75,1,Normal,70,8000,NaN
4,21.33,1,12,Male,29,7.8,7,75,1,Normal,70,8000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,21.33,1,208,Male,43,7.7,8,90,1,Normal,70,8000,NaN
96,21.33,1,209,Male,43,7.7,8,90,1,Normal,70,8000,NaN
97,21.33,1,210,Male,43,7.8,8,90,1,Normal,70,8000,NaN
98,21.33,1,211,Male,43,7.7,8,90,1,Normal,70,8000,NaN
99,21.33,1,212,Male,43,7.8,8,90,1,Normal,70,8000,NaN